<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.coobaha.anki</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>092AF545-B7FA-4D2A-B622-F4FDA11A02C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFE99584-139D-4336-B894-A2D6AD2F602E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FABACBA8-B928-4019-BA4D-7FFCD5C68BC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DB8CD3B-BE1C-40D6-B189-53C3795AE4E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98DE24C8-F6EB-4B70-A19A-F1F58A91E3AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6555A513-1720-4AB3-ABD5-ED49955A0ADB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6153FF2-AB8F-4A17-9747-096390C2E0AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E5C172B-9501-4335-887D-88A1765E201B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6153FF2-AB8F-4A17-9747-096390C2E0AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70427086-DA4F-44B3-B1E8-39359C76EE59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98DE24C8-F6EB-4B70-A19A-F1F58A91E3AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98DE24C8-F6EB-4B70-A19A-F1F58A91E3AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C15FE40B-930C-4548-B24F-D35300D6109A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Save to Anki</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EFE99584-139D-4336-B894-A2D6AD2F602E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>67DC84DC-D19C-4942-B72A-1D18D9AE8B5E</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Translate in Google</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6153FF2-AB8F-4A17-9747-096390C2E0AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DB8CD3B-BE1C-40D6-B189-53C3795AE4E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C15FE40B-930C-4548-B24F-D35300D6109A</key>
		<array/>
		<key>EFE99584-139D-4336-B894-A2D6AD2F602E</key>
		<array/>
		<key>FABACBA8-B928-4019-BA4D-7FFCD5C68BC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFE99584-139D-4336-B894-A2D6AD2F602E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alexander Ryzhikov</string>
	<key>description</key>
	<string>cooba.me/suomea alfred workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>anki</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>sel::</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.microsoft.VSCode</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6555A513-1720-4AB3-ABD5-ED49955A0ADB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6E5C172B-9501-4335-887D-88A1765E201B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node ./dist/anki.js save $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C15FE40B-930C-4548-B24F-D35300D6109A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>[.,\/#!?$%^&amp;*;:{}=\-_`~()]$</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>1DB8CD3B-BE1C-40D6-B189-53C3795AE4E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>-\s+</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>B6153FF2-AB8F-4A17-9747-096390C2E0AE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>_popUpItemAction:</string>
				<key>path</key>
				<string>translate {query}</string>
				<key>type</key>
				<integer>100</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>B61FEE0D-3C68-4EA2-999F-752D60B0F043</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>f</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node ./dist/anki.js search $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type your query</string>
				<key>title</key>
				<string>Anki serach</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>98DE24C8-F6EB-4B70-A19A-F1F58A91E3AD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>Е</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>70427086-DA4F-44B3-B1E8-39359C76EE59</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node ./dist/anki.js open $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EFE99584-139D-4336-B894-A2D6AD2F602E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>sel::</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>092AF545-B7FA-4D2A-B622-F4FDA11A02C2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>/-\s+/</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>FABACBA8-B928-4019-BA4D-7FFCD5C68BC4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node ./dist/anki.js open translate:$@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>67DC84DC-D19C-4942-B72A-1D18D9AE8B5E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>092AF545-B7FA-4D2A-B622-F4FDA11A02C2</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>1DB8CD3B-BE1C-40D6-B189-53C3795AE4E4</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>6555A513-1720-4AB3-ABD5-ED49955A0ADB</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>67DC84DC-D19C-4942-B72A-1D18D9AE8B5E</key>
		<dict>
			<key>note</key>
			<string>open google translate tab</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>6E5C172B-9501-4335-887D-88A1765E201B</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>70427086-DA4F-44B3-B1E8-39359C76EE59</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>98DE24C8-F6EB-4B70-A19A-F1F58A91E3AD</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>B6153FF2-AB8F-4A17-9747-096390C2E0AE</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>B61FEE0D-3C68-4EA2-999F-752D60B0F043</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>C15FE40B-930C-4548-B24F-D35300D6109A</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>save to anki</string>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>EFE99584-139D-4336-B894-A2D6AD2F602E</key>
		<dict>
			<key>note</key>
			<string>open anki tab</string>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>FABACBA8-B928-4019-BA4D-7FFCD5C68BC4</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ANKI_CONNECT_URI</key>
		<string>http://localhost:8765</string>
		<key>FINNISH_API_URL</key>
		<string>https://cooba.me/api/suomea</string>
		<key>FINNISH_URL</key>
		<string>https://cooba.me/suomea</string>
	</dict>
	<key>version</key>
	<string>1.0.3</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
