@tailwind base;
@tailwind components;
@tailwind utilities;

[hidden] {
  display: none;
}

html,
body {
  height: 100%;
  overflow: auto;
}

.qs_main {
  z-index: 100 !important;
  right: 5px;
  top: 5px !important;
  left: auto !important;
  position: fixed !important;
}

kbd {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.1em 0.5em;
  margin: 0 0.2em;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
}
